@media (max-width: 1700px) {
  header {
    background-size: auto;
  }
  .hero {
    background-size: 700px;
  }
}
@media (min-width: 1700px) {
  .hero {
    background-size: 700px;
  }
}

@media (max-width: 1600px) {
  nav {
    padding: 30px 60px;
  }
  .icon-wraper {
    width: 120px;
    height: 120px;
    padding: 10px;
  }

  .icon-wraper img {
    max-width: 70px;
  }
}

@media (max-width: 1400px) {
  h1 {
    font-size: 48px;
  }

  p {
    font-size: 38px;
  }
}
@media (max-width: 1200) {
  .icon-wraper {
    width: 100px;
    height: 100px;
    padding: 5px;
  }
  .icon-wraper img {
    max-width: 50px;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 36px;
    margin: 0 auto;
    max-width: 600px;
  }

  h2 {
    font-size: 28px;
  }

  p {
    font-size: 16px;
  }

  .p-80 {
    padding: 40px 0;
  }

  header {
    background-image: none;
  }

  #hero-row,
  .hero-img {
    text-align: center;
    padding: 40px 0;
  }

  .hero-contant p {
    margin: 20px auto 0;
    font-size: 16px;
  }

  .every-pro-images {
    gap: 20px;
  }

  .pro-single-img {
    max-width: 120px;
  }

  .pro-single-img h4 {
    font-size: 16px;
    margin-top: 8px;
  }

  .icon-wraper {
    width: 80px;
    height: 80px;
    padding: 5px;
  }

  .icon-wraper img {
    max-width: 38px;
  }

  .enhance {
    padding-bottom: 20px;
  }

  .enhance-content {
    text-align: center;
    margin-bottom: 30px;
  }

  .enhance-content h2 {
    margin-bottom: 16px;
  }

  .enhance-img,
  .find-it-img {
    text-align: center;
  }

  .need-content p {
    margin: 20px auto 0;
  }

  .need-imgaes {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
    padding-top: 40px;
  }

  #siri-content p {
    font-size: 16px;
  }

  .pricing h2 {
    margin-bottom: 30px;
  }

  .pricing-table {
    padding-top: 40px;
    gap: 30px;
  }

  #canva {
    margin: 0 auto;
  }

  .send-it-images {
    max-width: 750px;
    margin: 0 auto;
  }
}

@media (max-width: 860px) {
  .pricing-table {
    flex-direction: column;
    align-items: center;
  }

  .pricing-inner ul {
    min-height: 53px;
  }
}

@media (max-width: 767px) {
  .every-product h2,
  .why-does h2 {
    text-align: center;
    margin: 0 auto 20px;
    max-width: 1010px;
  }

  .pro-single-img {
    max-width: 90px;
    padding: 0;
  }

  form {
    flex-direction: column;
  }

  input {
    max-width: 100%;
  }

  .send-it-images {
    display: none;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 26px;
  }

  .logo {
    width: 130px;
  }

  nav {
    padding: 30px 20px;
  }

  .cs-btn {
    font-size: 16px;
    padding: 6px 20px;
  }

  .every-pro-images {
    grid-template-columns: repeat(3, 1fr);
  }

  .need-imgaes {
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    gap: 40px;
  }

  .need-single p {
    font-size: 16px;
    margin-top: 15px;
  }

  .pricing-single-table {
    max-width: 355px;
  }

  .pricing-table-heading {
    padding: 20px;
  }

  .list-text {
    display: block;
    width: calc(254px - 36px);
    font-size: 16px;
  }

  .pricing-inner {
    padding: 26px;
  }
}
