* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global starts */
:root {
  --cs-primary: #e85f57;
  --cs-secondary: #393939;
  --cs-white: #ffffff;
}

body {
  /* font-family: "Poppins", sans-serif; */
  font-family: 'Nunito', sans-serif;
  color: var(--cs-secondary);
}

h1 {
  font-size: 58px;
  font-weight: 700;
  margin: 0;
}

h2 {
  font-size: 43px;
  font-weight: 600;
  margin: 0;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  margin: 0;
}

p {
  font-size: 38px;
  font-weight: 400;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.p-80 {
  padding: 80px 0;
}

.cs-btn {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px;
  color: var(--cs-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--cs-primary);
  border-radius: 3px;
  transition: 0.4s all ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.cs-btn:hover {
  color: var(--cs-white);
  background-color: var(--cs-secondary);
}

/* header start  */
nav {
  transition: 0.3s all ease-in-out;
  padding: 30px 120px;
}

.scrolled {
  background-color: white !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 190px;
}

/* hero start here  */
.hero {
  background-image: url(../img/herobg.svg);
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 90vh;
  background-size: 630px;
  padding-bottom: 80px;
  padding-top: 120px;
}

#hero-row {
  min-height: 100vh;
  align-items: center;
}

.hero-contant p {
  max-width: 563px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
}

.hero-img {
  text-align: end;
}

/* every products start here  */
.every-product h2,
.why-does h2 {
  text-align: center;
  margin: 0 auto 33px;
  max-width: 1010px;
}

.every-pro-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 30px;
}

.pro-single-img {
  padding: 20px;
  margin: 0 auto;
}
.icon-wraper {
  background-color: var(--cs-white);
  max-width: 188px;
  max-height: 187px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 31.5px;
  box-shadow: 0 0 10px 0 #ddd;
}
.icon-wraper img {
  max-width: 90px;
}

.pro-single-img h4 {
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

/* why does start here  */
.why-does p {
  margin: 0 auto;
  text-align: center;
  max-width: 1070px;
}

.find-it-img {
  max-width: 381px;
}

/* send it start  */
.send-it-header p {
  max-width: 890px;
  margin: 20px auto 30px;
}

.send-it-images {
  max-width: 1017px;
  margin: 0 auto;
}

/* enhance start  */
.enhance {
  padding-bottom: 80px;
}

.enhance-content h2 {
  margin-bottom: 28px;
}

.enhance-img {
  text-align: end;
}

/* need start here  */

.need-content p {
  margin: 28px auto 0;
  max-width: 680px;
}

.need-imgaes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 60px;
  padding-top: 76px;
}

.need-single {
  max-width: 392px;
}

.need-single p {
  font-size: 16px;
  margin-top: 20px;
}

/* canva  */
#canva {
  max-width: 436px;
  margin-left: auto;
}

/* siri  start  */
#siri-content p {
  font-size: 28px;
}

#siri {
  max-width: 489px;
}

/* pricing start here  */
.pricing h2 {
  margin-bottom: 53px;
}

.price-btn {
  max-width: 320px;
  margin: 0 auto;
  box-shadow: 0 3px 10px 0px #ddd;
  border-radius: 10px;
  padding: 4px;
}

.bd-rd {
  border-radius: 10px;
}

.nav-tabs .nav-item button {
  background-color: transparent;
  color: #191a15;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 10px;
  transition: 0.4s all ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.nav-tabs .nav-item .active {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 30px;
  color: var(--cs-white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--cs-primary);
  border-radius: 10px;
  transition: 0.4s all ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.nav-tabs .nav-item button:hover,
.nav-tabs .nav-item .active:hover {
  color: var(--cs-white);
  background-color: var(--cs-secondary);
}

/* price start  */
.pricing-table {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 67px;
  padding-top: 80px;
}

.pricing-single-table {
  max-width: 374px;
  box-shadow: 0 0 10px 0 #ddd;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.pricing-table-heading {
  padding: 20px 40px 20px;
}

.pricing-single-table h3 {
  text-align: center;
}

.pricing-single-table h3 span {
  font-size: 16px;
  font-weight: 400;
}

.pricing-single-table p {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.pricing-inner {
  background-color: #ebebeb;
  padding: 26px 28px 25px 37px;
  border-radius: 10px;
}

.pricing-inner ul {
  padding-bottom: 25px;
  min-height: 573px;
}

.pricing-inner ul li {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.check-img {
  display: block;
  width: 26px;
}

.list-text {
  display: block;
  width: calc(269px - 36px);
}

.cs-price {
  display: inline-block;
  width: 260px;
  background-color: var(--cs-white);
  color: var(--cs-primary);
}

.cs-price:hover {
  color: var(--cs-white);
  background-color: var(--cs-primary);
}

/* newsletter  */
.newsletter h2 {
  color: #757575;
}

.newsletter p {
  font-size: 16px;
  max-width: 425px;
  text-align: center;
  margin: 28px auto 34px;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

input {
  max-width: 403px;
  height: 48px;
  box-shadow: 0 0 10px 0 #ddd;
  border: none !important;
  padding-left: 28px !important;
  color: #000 !important;
}

input::placeholder {
  font-size: 18px;
  color: #000 !important;
  font-weight: 600;
}

/* footer start  */
footer {
  padding: 30px 0 60px;
}

footer p {
  text-align: center;
  font-size: 18px;
}

footer p a {
  color: var(--cs-secondary);
}

footer p a:hover {
  text-decoration: underline;
  color: var(--cs-primary);
}
